# **************************************************************************** #
#                                                                              #
#                                                       ::::::::   :::::::     #
#    .gitignore                                         :+:    :+:   :+:       #
#                                                       +:+    +:+   +:+       #
#    By: Diogo-ss <diogo-ss@mail.com>                   +#+    +:+   +#+       #
#                                                       +#+    +#+   +#+       #
#    Created: 2022/11/28 19:09:44 by Diogo-ss           #+#    #+#   #+#       #
#    Updated: 2022/11/28 19:09:45 by Diogo-ss           ########   #######     #
#                                                                              #
# **************************************************************************** #

*.a
*.o
rm.sh
libftTester
.ccls-cache
